<form class="form-signin" #productAddForm="ngForm" (ngSubmit)="login(loginForm)">

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Sisteme Giriş</h1>
     
    </div>
    <div class="form-label-group">
        <input type="text" id="username" class="form-control" placeholder="Kullanıcı Adı" required autofocus #username="ngModel" name="username" [(ngModel)]="model.username">
        <label for="inputEmail">Kullanıcı Adı</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="password" class="form-control" placeholder="Şifre" required #password="ngModel" name="password"  [(ngModel)]="model.password">
        <label for="inputPassword">Şifre</label>
    </div>

   
    <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
</form>
